*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    position: relative;
}

header{
    height: 3%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position:fixed;
    font-size: 1.3rem;
    top: 2%;
    left: 25%;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
}

.page1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.video{
    height: 97%;
    width: auto;
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.page2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}